/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    
}

h1 {
    margin-top:50px;
    margin-bottom:0;
}
h4 {
    margin-right:15px;
    margin-top:15px;
}
h2 {
    font-size:16px;
}
p {
    font-size:16px;
}
body {
    display: flex;
    justify-content: center;
    padding: 0 50px;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    max-width: 1440px; 
    padding: 0 50px;
    box-sizing: border-box;
}
/********* Header ********/
.Header__logo {
    padding-top:10px;
    display:flex;
    justify-content: space-between;
}
.Header__img {
    width:61px;
    height: 19px;

}
.Header__link {
    display:flex;
    justify-content: flex-end;
    padding-bottom:0;
    gap:50px;
    text-decoration:none;
}
.Header__link-decoration {
    text-decoration: none;
    color:black;
    padding-top:10px;
    border:solid 2px transparent;
}
.Header__link-decoration:hover {
    border-top:#0065FC solid 2px;
    color:#0065FC;
}
/************** Button & FA ***********/
.card-rating {
    margin-left:10px;
}
.fa-solid {
    color: var(--main-color);
}
.fa-location-dot {
    color:black;
    padding:12px;
    padding-right:17px;
}
.Locate-Marseille {
    border:solid 0.5px var(--main-bg-color);
    border-left:0;
    text-align: center;
    font-weight: bold;
    font-size:16px;
    
}
.locate {
    display:flex;
    justify-content:flex-start;
    padding-top:20px;
    padding-bottom:40px;
}
.location-dot {
    color:black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 10px;
    background-color: var(--main-bg-color);
    border:solid var(--main-bg-color);
}
.Rechercher {
    background-color: var(--main-color);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 16px;
    color:white;
    padding-left:20px;
    padding-right:20px;
    border:0;
    font-weight:bold;
}
.Logo-rechercher {
    display:none;
}
.span-fa-info {
    border-radius:50px;
    border:solid 0.5px var(--filter-bg-color);
    background-color: white;
    padding:0 7px;
    text-align: center;
}
.fa-info {
    background-color: white;
}
.Filter-flex{
    display:flex;
    justify-content: flex-start;
    gap:20px;
}
.button {
    border-radius:25px;
    background-color: white;
    margin-right:15px;
    border:var(--filter-bg-color) solid 2px;
    height:50px;
    padding: 10px;
    font-size: medium;
    text-align: center;
    padding-left:5px;
    font-weight:bold;
    padding-left:20px;
    padding-right:20px;
    gap:10px;
}
.button:hover{
    background-color: var(--filter-bg-color);
}
.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Hebergements And Populaires ***********/
.section-title {
    margin: 0;
    font-size: 22px;
}
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin-top:30px;
}
.card img {
    object-fit: cover;
}
.card-title {
    font-size: 16px;
}
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}
.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}
/****** Hebergements ***********/
.hebergements img {
    display:flex;  
    width: 243px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;  
}
.hebergements {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}
.hebergements-title {
    display:flex;
    justify-content:left;
}
.showmore {
    display:flex;
    justify-content: flex-start;
    margin-bottom:0;
}
/****** Populaires ***********/
.populaires {
    width: 50%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card {
    display: flex;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
    width: 67%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/************* Activités **********/
.title-activities-marseille {
    Margin-left:30px;
    margin-top:60px;
    margin-bottom:30px;
}
.activity {
        margin-left:30px;
        display:flex;
        flex-direction:row;
        width:35%;
        padding-bottom:55px;
}
.card-activity {
    display:flex;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
    transition:0.3s;
    border-radius: 25px;
    margin-right: 25px;
    display:flex;
}
.card-activity img {
    border-radius: 25px 25px 0 0 ;
    width: 297.5px; 
    height: 400px;
    object-fit: cover;
}
.card-txt {
    margin-left:10px;
}
.footer-background {
    margin-top:30px;
    background-color: #f2f2f2;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.footer-txt {
    margin-left:15px;
    text-decoration:none;
}
.footer-txt a{
    text-decoration:none;
    color:black;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    body {
        padding:0;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
        margin:0;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .hebergements-and-populaires section {
        margin:0;
        margin-bottom:50px;
    }
    .title-activities-marseille {
        margin-top:10px;
    }
    .card-activity img {
        width:193.5px;
        height:200px;
    }

    .card-activity {
        width:193.5px;
        height:280px;
    }

    .card-txt {
        margin-left:10px;
    }

    .Filter-flex {
        display:flex;
        flex-direction:column;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
body {
    padding:0;
}
.Header__logo {
    flex-direction:column;
    align-items: center;
    gap:40px;
}
.Header__img {
    display:flex;
    justify-content: center;
}
.main-container {
    padding:0;
}
nav {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.Entete-heber {
    display:flex;
    justify-content: center;
    padding:45px;
    margin:0;
    padding-bottom:20px;
    border-bottom:solid 2px #F2F2F2;
}
.Entete-heber:hover {
    border-top:none;
    border-bottom:solid 2px #0065FC;
}
.Entete-acti {
    padding:45px;
    margin:0;
    padding-right: 60px;
    padding-bottom:20px;
    border-bottom:solid 2px #F2F2F2;
}
.Entete-acti:hover {
    border-top:none;
    border-bottom:solid 2px #0065FC;
}
.Rechercher {
    padding:0;
    display:none;
}
.fa-magnifying-glass {
    display:block;
    color:white;
    padding: 20px;
}
.Logo-rechercher {
    display:block;
    background-color: #0065FC;
    border-radius:10px;
    border:solid #0065FC;
}
.locate {
    margin-left:5px;
}
.location-dot {
    margin-right:20px;
}
.Locate-Marseille{
    border-right:none;
}

.button {
    margin-bottom:20px;
    text-align:left;
}
.button-filtres {
    display:grid;
    grid-template-columns:1fr 1fr;
}
.Entete-link {
    display:grid;
    grid-template-columns:1fr 1fr;
    padding:0 0;
}
.hebergements-and-populaires {
    display:flex;
    flex-direction:column-reverse;
}
.hebergements-and-populaires section{
    border-radius:0;
}
#hebergements {
    background-color: white;
    margin:0;
    margin-bottom:50px;
}

.populaires-cards {
    display:flex;
    flex-direction:column;
}

.populaires-cards .card {
    width: 100%;
}
.card {
    width:100%;
}

.card img{
    width:100%;
    height:124px;
}

.activity {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
}
.card-activity {
    width: 325px;
    height: 200px;
    margin-bottom:15px;

}
.card-activity img {
    width:325px;
    height:141px;

}
.footer-background {
    display:flex;
    flex-direction:column;
    margin:0;
}
.footer-txt {
    padding-bottom: 25px;
}
}